<% if flash.any? %>
  <div id="flash-messages" class="fixed top-4 right-4 z-50 w-80">
    <% flash.each do |type, message| %>
      <% 
        flash_class = case type
        when 'notice' then 'bg-green-100 border-green-400 text-green-700'
        when 'alert'  then 'bg-red-100 border-red-400 text-red-700'
        else 'bg-blue-100 border-blue-400 text-blue-700'
        end
      %>
      <div class="<%= flash_class %> px-4 py-3 rounded-lg shadow-md mb-4 relative" role="alert" data-controller="flash">
        <div class="flex items-center">
          <div class="py-1">
            <svg class="fill-current h-6 w-6 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
            </svg>
          </div>
          <div>
            <p class="font-bold"><%= type.capitalize %></p>
            <p class="text-sm"><%= message %></p>
          </div>
        </div>
        <button class="absolute top-0 right-0 mt-2 mr-2 text-gray-600 hover:text-gray-800" data-action="click->flash#dismiss">
          <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/>
          </svg>
        </button>
      </div>
    <% end %>
  </div>
<% end %>